.admincp-nav {
  
  padding: 0;
  margin: 0;

  ul {

    margin: 0;
    padding: 0;

  }

  li {

    a {

      display: inline-block;
      font-size: 14pt;
      font-weight: bold;
      text-align: center;
      width: 100%;

    }
  
  }

}

.admincp-panel {

  padding: 1em;

  .panel-title {

    font-size: 24pt;
    font-weight: bold;
    padding: 0.5em;

  }

  .panel-search {

    min-width: 500px;
    max-width: 50%;
    margin: 0.5em;
    margin-top: 1.5em;
    vertical-align: bottom;

  }

  form {

    clear: both;

    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;

  }

  table {

    width: 100%;

    td {

      padding: 5px;

    }

  }

}
