<div class="alert alert-danger" ng-show="error" role="alert">
  {{ error }}
</div>

<h3>Account Options</h3>
<form name="accountOptions">
  <div class="row control-group">
    <div class="col-xs-2"><label for="email">E-Mail Address:</label></div>
    <div class="col-xs-9">
      <input type="text" ng-model="user.email" class="form-control">
    </div>
  </div>

  <div class="row control-group">
    <button type="submit" class="btn btn-primary" ng-click="saveUser()">Save Changes</button>
  </div>
</form> 

<h3>Change Password</h3>
<form name="changePassword">
  <div class="row control-group">
    <div class="col-xs-2"><label for="old-password">Old Password:</label></div>
    <div class="col-xs-9">
      <input type="password" ng-model="passReset.old" class="form-control">
    </div>
  </div>

  <div class="row control-group">
    <div class="col-xs-2"><label for="new-password">New Password:</label></div>
    <div class="col-xs-9">
      <input type="password" ng-model="passReset.new" class="form-control">
    </div>
  </div>

  <div class="row control-group">
    <div class="col-xs-2"><label for="confirm-password">Confirm Password:</label></div>
    <div class="col-xs-9">
      <input type="password" ng-model="passReset.confirm" class="form-control">
    </div>
  </div>

  <div class="row control-group">
    <button type="submit" class="btn btn-primary" ng-click="savePassword()">Save Changes</button>
  </div>
</form>