<!-- Single button -->
<div class="btn-group orderBy-list" uib-dropdown is-open="status.isopen">
    <button id="single-button" type="button" class="btn-lg btn-default" uib-dropdown-toggle ng-disabled="disabled">
        Order By <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li ng-click="setOrder('title')" role="menuitem"><a href="#">A-Z</a></li>
        <li ng-click="setOrder('price')" role="menuitem"><a href="#">Price: Low to High</a></li>
        <li ng-click="setOrder('-price')" role="menuitem"><a href="#">Price: High to Low</a></li>
    </ul>
</div>
<br>
<div id='catalog'>
    <div ng-repeat='product in products | orderBy:currentOrder' class="product-grid row-fluid repeat-animation">
        <product-thumbnail product="product"></product-thumbnail>
    </div>
</div>
