footer {
	img {
		height: 50px;
		width: 50px;
		display: block;
		margin: 0 auto 20px;
	}
    background: white;
    position: absolute;
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    .container {
    	/*display: inline-block;*/
    	width: 80%;
    }
    p {
    	width: 250px;
    	display: inline-block;
    	margin-top: 10px;
    }
}

.gifs {
	text-align: center;
	img {
		padding: 20px;
	}
}
