.product-thumbnail {
	height: 250px;
	width: 250px;
	overflow: hidden;
	margin: 25px;
	transition: width 0.5s;
}

.product-thumbnail:hover {
	width: 260px;
	height: 260px;
}

/*.animate-repeat.ng-enter {
	transition: width 0.5s;
	width: 300px;
	opacity: 0;
}

.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}*/