product-list {

	img {
		max-width: 35%;
		margin-bottom: 5px
	}

	#catalog {
		margin: auto 10%;
		margin-top: 30px;
	}

	.items {
		margin: 0 auto 5%
	}

	.price {
		font-weight: bold
	}

	a {
		font-weight: bold
	}

	p {
		margin: 1px 0;
		font-size: 1.6vw
	}
}