review-form {
	input {
		display: block;
	}

	div {
		margin: 10px 20px;
		input {
			margin-bottom: 10px
		}
		#click {
			margin-top: 10px
		}
	}
	#border {
		border: outset gray;
	}
	#click {
		display: inline-block;
	}
	#remove {
		color: red;
	}
	button {
		color: gray;
	}
	.starred {
		color: yellow;
	}
}