#sidebar {
  height: 100%;
  width: 250px;
  list-style-type: none;
  position: absolute;
  background-color: red;
  z-index: 200;
}

.move-right {
  padding-left: 250px;
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
}