#sidebar {
  height: 100%;
  width: 250px;
  list-style-type: none;
  position: absolute;
  background-color: red;
  /*left: -250px;*/
}

.move-right {
  transform: translate3d(250px, 0px, 0px);
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
}



/*transform: translate3d(0px, 0px, 0px);*/