#sidebar {
  height: 100%;
  width: 200px;
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 92px;
  bottom: 0;
  background-color: red;
}

.start-left {
  left: -240px;
}

.move-right {
  left: 0px;
}