<div class="container">
  <div id="product-images">
    <img class="main-image" ng-src="{{ mainImage }}">

    <a href="#" ng-repeat="photo in product.photo" ng-click="changeMainImage( photo )">
      <img class="thumb-image" ng-src="{{ photo }}">
    </a>
  </div>

  <div id="product-purchasebox">
    <p>
      <small>{{ product.quantity }} available for </small>
      <strong>${{ product.price }}</strong>
    </p>

    <button ng-click="addToCart()" class="btn btn-primary">Add to Cart</button>
  </div>

  <div id="product-details">
    <h2>{{ product.title }}</h2>
    <small>Categories: 
        <ul>
          <li ng-repeat="category in product.category" class='category'><a ui-sref="categoryList({category: category})" >{{ category }}</a></li>
        </ul>
    </small>
    <p ng-repeat="paragraph in product.description.split('\n')">{{ paragraph }}</p>
  </div>

  <hr class="clearfix">

  <div>
    <button type='button' ng-click='showForm()' ng-show='!visible'>Write a Review</button>
    <review-form ng-show='visible'></review-form>
  </div>

  <div class="review-list">
    <review ng-repeat="review in product.reviews" review="review"></review>
  </div>
</div>