<section id="home">
<!-- CAROUSEL -->
	<carousel interval="5000" no-wrap="noWrapSlides">
		<slide ui-sref="{{slide.state}}" ng-repeat="slide in slides" active="slide.active" index="slide.id">
			<div class="carousel-caption">
         	 	<p>{{slide.text}}</p>
    		</div>
			<img ng-src="{{slide.image}}">
	    </slide>
	 </carousel>
<!--  PAGER -->
	<div class="recommended-products">
	<h3>Recommended Products:</h3>
	<div class="row-fluid product-grid" ng-repeat="product in products">
	    <a ui-sref="productDetails({productId: product._id})"><product-thumbnail product="product"></product-thumbnail></a>
    </div>
    </div>
</section>
