#product-images {
  
  float: left;

  width: 50%;
  max-width: 370px;

  padding: 10px;

  .main-image {

    width: 350px;

  }

  .thumb-image {

    border: 1px solid lightgray;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 60px;

  }

}

#product-purchasebox {
  
  border: 1px solid lightgray;
  padding: 10px;

  float: right;

  width: 20%;
  max-width: 200px;

}

.clearfix {
  
  clear: both;

}